/* line 32, ../../sass/partials/constants.sass */
.white {
  background: white;
}

/* line 35, ../../sass/partials/constants.sass */
.lightgrey {
  background: #f4f4f4;
}

/* line 38, ../../sass/partials/constants.sass */
.darkgrey {
  background: #242424;
}

/* line 41, ../../sass/partials/constants.sass */
.bluegrey {
  background: #1d2029;
}

/* line 44, ../../sass/partials/constants.sass */
.verydarkgrey {
  background: #303133;
}
